# Car Dataset Analysis
This notebook answers questions about the Cars dataset using pandas.

In [ ]:
import pandas as pd

In [ ]:
# Load the dataset
df = pd.read_csv("Cars.csv")
df.head()

### Q8: Which car has the highest horsepower?

In [ ]:
max_hp = df['horsepower'].max()
max_hp_car = df[df['horsepower'] == max_hp]['car name'].values[0]
print("Q8 Answer: Car with highest horsepower is:", max_hp_car)

### Q9: How many cars have mpg >= 35?

In [ ]:
mpg_35_or_more = df[df['mpg'] >= 35].shape[0]
print("Q9 Answer: Number of cars with mpg >= 35 is:", mpg_35_or_more)

### Q10: Most common origin of cars with horsepower > 100 and weight < 3000

In [ ]:
filtered = df[(df['horsepower'] > 100) & (df['weight'] < 3000)]
most_common_origin = filtered['origin'].value_counts().idxmax()
print("Q10 Answer: Most common origin is:", most_common_origin)

### Q11: Mean acceleration of cars from Japan (rounded to 2 decimals)

In [ ]:
japan_cars = df[df['origin'] == 'japan']
mean_acc_japan = round(japan_cars['acceleration'].mean(), 2)
print("Q11 Answer: Mean acceleration of cars from Japan is:", mean_acc_japan)

### Q12: Which year had the highest average mpg?

In [ ]:
avg_mpg_by_year = df.groupby('model year')['mpg'].mean()
highest_avg_mpg_year = avg_mpg_by_year.idxmax()
print("Q12 Answer: Year with highest average mpg is:", highest_avg_mpg_year)